body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  margin-left: 200px;
}

.box-item {
  border: 1px solid #ccc;
  padding: 5px;
}

.col-3 {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  margin-left: 200px;
}

.font-highlight {
  color: red;
  border: 1px solid #ccc;
}

.tkt-height {
  max-height: 36px;
}
